@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    background-image: url(../images/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 48%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#center {

    text-align: center;
    
    }

body {
    width: 90%;
    background-color: transparent;
}

.container {
    color: white;
    font-family: 'Roboto Mono'!important;
    text-align: center;
    padding: 15%;
}

.text-name {
    font-size: 400%;
    color: #ffffff
}
.forked-from {
    font-size: 150%;
    color: #ffffff
    
}

.home-button{
    text-align: center;
    padding: 60px;
    font-size: 150%;
}


.text-desc {
    font-size: 20px;
    padding: 1%;
}

.social-links {
    list-style: none;
    padding: 3%;
}


.social-links2 {
    list-style: none;
    padding: 2%;
    font-size: 35px;
}


img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: aquamarine;
}
